@use "./variables" as var;

.wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background: var.$color-gradient;

  h1 {
    font: {
      weight: normal;
      size: 24px;
      family: var.$font-main;
    }
    color: var.$color-white;
    letter-spacing: 1px;
    position: absolute;
    top: 70px;
    left: 50px;

    span {
      opacity: 0.8;
    }
  }

  .auto {
    position: absolute;
    bottom: 50px;
    left: 60px;
    z-index: 20;
    display: flex;

    li {
      margin-right: 20px;
      cursor: pointer;
      color: var.$color-white;
      font-size: 20px;
      opacity: 0.9;
      transition: all 0.5s;

      &:hover {
        opacity: 1;
        transform: scale(1.4);
      }
    }
  }
}
