@use "./variables" as var;

.wrap {
  .swiper-wrapper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      width: 500px;
      height: 500px;
      position: relative;
      top: 50%;
      margin-top: -230px;

      .inner {
        width: 100%;
        height: 100%;
        background: var.$color-white;
        padding: 30px;
        box-sizing: border-box;
        opacity: 0.4;
        transition: 1s;
        position: relative;

        &::before,
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          background: var.$color-white;
        }

        .con {
          position: relative;
          z-index: 10;

          img {
            width: 100%;
          }

          h2 {
            font: {
              weight: normal;
              size: 40px;
              family: var.$font-sub;
            }
            color: var.$color-dark;
            margin: 15px 0 20px;

            &::after {
              content: "";
              display: block;
              width: 30px;
              height: 1px;
              background-color: var.$color-line;
              margin-top: 15px;
              transition: 1s 0.5s;
            }
          }

          p {
            font: {
              weight: normal;
              size: 13px;
              family: var.$font-default;
            }
            line-height: 1.3;
            color: var.$color-gray;
            letter-spacing: 1px;
          }
        }
      }

      &.swiper-slide-active {
        .inner {
          opacity: 1;
          box-shadow: 0px 0px 50px rgba(var.$color-white, 0.8);

          &::before {
            animation: ani 1s ease 1;
          }

          &::after {
            animation: ani 1s ease 0.3s 1;
          }

          .con h2::after {
            width: 100px;
          }
        }
      }

      &.swiper-slide-prev .inner,
      &.swiper-slide-next .inner {
        opacity: 0.7;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    left: auto;
    top: auto;
    bottom: 40px;
    color: #eee;
    transform: scale(0.5);
    transition: transform 0.5s;

    &:hover {
      color: var.$color-white;
      transform: scale(0.7);
    }
  }

  .swiper-button-prev {
    right: 100px;
  }

  .swiper-button-next {
    right: 60px;
  }
}

.swiper-pagination-fraction {
  bottom: auto;
  top: 50px;
  left: auto;
  right: 50px;
  width: auto;
  font-size: 16px;
  font-family: var.$font-main;
  letter-spacing: 1px;
  color: #eee;

  span:nth-of-type(1) {
    font-size: 30px;
    color: var.$color-white;
  }
}

@keyframes ani {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  1% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
