$font-main: "orbitron";
$font-sub: "roboto";
$font-default: "arial";

$color-white: #fff;
$color-dark: #111;
$color-gray: #aaa;
$color-line: #888;
$color-gradient: linear-gradient(45deg, #d32ddc, #5538f7);
